body {
    font-family: "Times New Roman", Times, serif;
}

.wrapper {
    width: auto;
    height: auto;
    margin: 10% 30%;
}

.movie {
    width: 620px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(223, 209, 209);
    border-radius: 15px;
}

.movie p {
    padding-left: 10px;
    width: 400px;
}

* {
    box-sizing: border-box;
}

.rating {
    display: flex;
}

.rating-item {
    width: 40px;
    height: 40px;
    background-image: url(./img/star.png);
    background-size: 36px 35px;
    border: 2px solid #fff;
    cursor: pointer;
}